body {
    background-image:url("images/loginbg.avif") ;
    background-size: cover;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="email"],
input[type="password"],
button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button.yellow-btn {
    background-color: #ffcc00;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button.yellow-btn:hover {
    background-color: #e6b800;
}

h2 {
    margin-bottom: 20px;
    color: #555;
}

.link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}
