body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.settings-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.btn-primary{
    width: 30%;
    justify-self: left;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    color: #ebe9e2;
    padding: 10px;
    background-color: #dfb50a;
}

.profile-pic-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 30%;
    padding: 10px;
    background-color: #dfb50a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}

.profile-summary {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.profile-summary h2 {
    text-align: center;
}

.profile-summary p {
    margin: 10px 0;
}
